image: owncloudci/qpkg-builder:latest
manifests:
  - image: owncloudci/qpkg-builder:amd64
    platform:
      architecture: amd64
      os: linux
  #- image: owncloudci/qpkg-builder:arm64v8
  #  platform:
  #    architecture: arm64
  #    variant: v8
  #    os: linux
  #- image: owncloudci/qpkg-builder:arm32v7
  #  platform:
  #    architecture: arm
  #    variant: v7
  #    os: linux
